<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="centered">
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      {{ range .Paginator.Pages }}
      <div>
        <a href="{{ .RelPermalink }}">{{.Title}}</a>
        <br/>
        {{ .Params.sum }}
      </div>
      <br/>
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>

